@use "../../main.scss";

nav {
  width: 100px;
  position: absolute;
  top: 20px;
  right: 30px;
  @include main.flex(row, space-around);

  .social-links {
    @include main.flex(row, space-around);
    width: 100%;

    li {
      transition: 0.3s;
      &:hover {
        transform: scale(1.125);
      }
    }
  }
}
