@use "../../main.scss";

nav {
  width: 220px;
  position: absolute;
  top: 20px;
  right: 10px;
  @include main.flex(row, space-around);

  ul {
    @include main.flex(row, space-around);
    width: 40%;
  }

  .meus-links-btn {
    background: white;
    text-decoration: none;
    color: black;
    border-radius: 4px;
    text-align: center;
    padding: 8px 18px;
  }
}
