@use "../../main.scss";

::-webkit-scrollbar {
  display: none;
}

.app {
  height: 100vh;
}

.container {
  width: 100%;
  @include main.flex();
  margin-top: -100px;
}

.home-header {
  @include main.flex();
  gap: 5px;
  margin-bottom: 12px;

  h1 {
    text-align: center;
    font-size: 2.75rem;
  }

  p {
    text-align: center;
    font-size: 1.25rem;
  }
}

form {
  width: min(90%, 500px);
  @include main.flex();
  gap: 8px;
  animation: slide 1.5s;
}

@keyframes slide {
  from {
    transform: translateY(90px);
  }
  to {
    transform: translateY(0);
  }
}
